
body {
  padding: 0;
  background-color: #000
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
  width: 100vw;
  position: fixed;
  z-index: 10000;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.steam{
  display: flex;
  justify-content: flex-end;
  margin-top: 75px;
  align-content: space-between;

}
.player{
  height: 38em;
  width: 64em;
  margin-right: 20em;
  margin-left: 5em;
  margin-top: 5em;
}
.chat{
  height: 56em;
  width: 30em;
  margin-top: -2em;
  margin-right: 1em
}
.login{
  margin: 150px;
}
.logout{
  margin-left: 129em;
  margin-top: -50px;
}

#streams{
  margin-top: 50px;
}
.touneyInfo{
  margin: 75px 50px 0px 50px;
}
.tournContainer{
  display: block;
}
.streamButton{
  margin: 10px 15px 0px 12px;
}
.tournaments{
  margin-top: 25px;
  color: #fff;
}
.hr{
  border-color: #666;
}

.stuff{
  margin-top: 100px;
}

.home{
  margin-top: 75px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #999;
}

.container-narrow > hr {
  margin: 30px 0;
}
.thing{
  margin-right: -15px;
  width:90%;
}

.image{
  height: 22em;
  width: 25em;
}

.directory{
  margin-top: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

#bot{
  margin-bottom: 75px;
}
/* Side Navigation */

@media(max-width:1280px){
  .player{
    height: 32em;
    width: 63em;
    margin-right: 2em;
    margin-top: 1em;
  }
  .chat{
    height: 39em;
    width: 23em;
    margin-top: -2em;
  }
  .logout{
    margin-left: 83em;
  }
}

@media(min-width:768px) {
  .sideNav{
    margin-left: 0px;
    position:fixed;
    right: 0;
    background-color: #222;
    width: 20%;
    height: 100vh;
  }
}

@media(max-width:956px){
  .preview{
    width: 200px;
    height:95px;
  }
}
@media(max-width:768px){
  .thing{
    width:100%;
  }
  .preview{
    width:320px;
    height:180px;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
