<div class = "sideNav">
  <form class="touneyInfo" action="index.html" method="post">
    <input type="text" name="name" ng-model = "teams" placeholder="Team vs Team">
    <input type="text" name="name" ng-model = "times" placeholder="Time">
    <input type="text" name="name" ng-model = "date" placeholder="MM/DD/YY">
    <button type="button" class = "btn btn-danger streamButton" ng-click = "addThread()">Add Tournament</button>
  </form>

  <div class="tournContainer">
    <div class = "tournaments" ng-repeat='fights in matches'>
        {{fights.teams}} on {{fights.date}} at {{fights.time}}
        <hr class = "hr">
    </div><!--end tournaments-->
  </div><!--end tournContainer-->
</div><!--end sidenav-->


<div class="row" id="streams">
  <div class="" ng-init = "getGame()">
    <span class = "col-sm-6" id = "streams"  ng-repeat = 'info in streamInfo'>
      <div>
        <a ng-href="#/stream/{{info.display_name}}" ng-click="getGame(info.display_name)"><img class = "preview" ng-src="{{info.preview.medium}}"/></a>
        <div>{{info.title}}</div>
        <div>{{info.viewers}} viewers on <a ng-href="{{info.url}}">{{info.display_name}}</a>  </div>
      </div>
    </span>
  </div>
</div>
